* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Oxygen;
  position: relative;
}

h3, h4 {
  font-weight: 600;
}

p {
  letter-spacing: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: fixed;
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 100%;
  height: 104px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
  border: 2px dotted #D70026;
  z-index: 1216;
}

.logo {
  width: 200px;
  height: 99px;
  
}

img.hero {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

nav {
  justify-self: end;
  align-self: center;
}

.nav-style-ul {
  list-style: none;
  width: 700px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  justify-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-style-ul > li {
  display: inline;
  font-size: .8em;
  color: #a7a8aa;
}

a.nav-style-li:hover {
  box-shadow: 0 5px 0 #D70026;
  color: #D70026;
  cursor: pointer;
}

a.nav-style-li:active {
  border-bottom: #D70026;
  color: #D70026;
}

.main {
  top: 105px;
  position: absolute;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
}


.text-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 650px;
}

.hero-image-div {
  width: 100%;
  height: 650px;
}



.logo-small {
  grid-column: 1 / 2;
  width: 100px;
  height: 50px;
  align-self: center; 
}




.vertical-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}



.heading-text {
  color: #fff;
  text-transform: uppercase;
  /* backface-visibility: hidden; */
}

.heading-text-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation: moveInLeft 1s ease-out;
}

.heading-text-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInRight 1s ease-out;
}

.content {
  width: 1000px;
  margin: 12px;
}

.side-by-side-why, .side-by-side-believe, .side-by-side-do {
  display: flex;
  justify-items: center;
  margin: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.side-by-side-why {
  background-color: rgb(179, 207, 235);
}

.side-by-side-believe {
  background-color: rgb(169, 223, 245);
}

.side-by-side-do {
  background-color: rgb(225, 222, 238);
}


.left {
  width: 50%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.right {
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
}

footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #415359;
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
}

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  80% {
      transform: translateX(10px)

  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(300px);
  }

  80% {
      transform: translateX(-10px)

  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

