* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Oxygen, 'Sans-Serif';
  position: relative;
}

h3, h4 {
  font-weight: 600;
}

p {
  letter-spacing: 1px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: fixed;
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 100%;
  height: 104px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
  z-index: 1216;
}

.logo {
  width: 200px;
  height: 99px;
  
}

img.founder-portrait {
  width: 300px;
  height: 333px;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.23);
}

img.founder {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

nav {
  justify-self: end;
  align-self: center;
}

.nav-style-ul {
  list-style: none;
  width: 484px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-style-ul > li {
  display: inline;
  font-size: .8em;
  color: #a7a8aa;
}

a.nav-style-li:hover {
  box-shadow: 0 5px 0 #D70026;
  color: #D70026;
  cursor: pointer;
}

a.nav-style-li:active {
  border-bottom: #D70026;
  color: #D70026;
}

.main {
  position: absolute;
  top: 105px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founder-image-section {
  position: relative;
}

.founder-image-div {
  width: 100%;
  height: 300px;
}

.text-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 212;
  height: 300px;
}

button {
  border: 1px solid white;
  background: rgb(167, 168, 170, .5);
  margin-top: 36px;
  padding: 19px 38px;
  border-radius: 0px;
  color: white;
  font-size: 13px;
  font-weight: 100;
  font-family: Oxygen, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 4px;
}

button:hover {
   background: rgb(167, 168, 170, .7);
   color: #D70026;
   cursor: pointer;
   font-weight: 900;
}


.heading-div {
  background-color: rgba(0,0,0,.4);
}

.heading-text {
  color: white;
  text-align: center;
  margin: 16px;
}

.heading-text-main {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 6px;
  margin: 1.5rem;
}

.heading-text-sub {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 1.5rem;
  
}

.content-section {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.headline {
  color: #D70026;
  letter-spacing: 4px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-left: 36px;
}

.side-by-side {
  display: flex;
  max-width: 1050px;
  width: 75vw;
  min-height: 121px;
  margin: 48px;
}

p {
  font-size: .9em;
  margin-left: 36px;
  margin-bottom: 11px;
}

.side-by-side-image {
  display: flex;
  width: 300px;
}

.side-by-side-body {
  width: 70%;
  color: #696b70;
  display: block;
  letter-spacing: 6px;
  
}

footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: #415359;
  color: white;
}

.logo-small {
  grid-column: 1 / 2;
  width: 100px;
  height: 50px;
  align-self: center; 
}

.vertical-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 24px;
  height: 24px;
}

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }

  80% {
      transform: translateX(10px)

  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(300px);
  }

  80% {
      transform: translateX(-10px)

  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

